#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  background: white;
  width: 500px;
  max-width: 90%;

  padding: 24px;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  max-width: 1200px;
  margin: 2rem 2rem;
}

.user-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  color:black !important;
  padding: 16px;

  cursor: pointer;

  transition: transform 0.2s ease,
              box-shadow 0.2s ease;
}

.user-card:hover {
  transform: translateY(-4px);

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.1);
}
